<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rehab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Rehab</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Staff</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about-section">
            <div class="about-content">
                <h2>The Full Story</h2>
                <h3>About</h3>
                <p>At Rehab Center, we are dedicated to providing compassionate care and evidence-based treatment for individuals struggling with addiction. Our team of experts is committed to guiding you through every step of your recovery journey.</p>
            </div>
        </section>
        <section class="mission-section">
            <div class="image-section">
                <img src="https://images.unsplash.com/photo-1458501534264-7d326fa0ca04?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8d2VsbG5lc3N8ZW58MHx8MHx8fDA%3D" alt="Rehab Center">
            </div>
            <div class="mission-content">
                <h2>Our Mission</h2>
                <h3>Professional and Compassionate Care</h3>
                <p>At Rehab, we understand the challenges of addiction and the impact it has on individuals, families, and communities. Our team of dedicated and highly trained professionals is committed to providing comprehensive and personalized care to help you overcome your addiction and achieve lasting recovery.</p>
                <p>We believe that addiction is a treatable illness, and that everyone deserves the opportunity to live a healthy and fulfilling life. That's why we offer a range of services to help you on your journey to recovery, including medical and behavioral care, personalized treatment plans, activity management, patient education programs, and more.</p>
                <a href="#" class="btn">Learn More</a>
            </div>

        </section>

    </main>
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Rehab. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
