<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Rehab</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Staff</a></li>
            </ul>
        </nav>
    </header>
    <main class="resources-main">
        <div class="img-section">
            <img src="https://static.wixstatic.com/media/b88fd419f8554115b6666bf06653919b.jpg/v1/fill/w_1349,h_300,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b88fd419f8554115b6666bf06653919b.jpg"/>
        </div>

        <div class="title">
            <h2>Resources</h2>
            <p>Welcome to our resources page! Here you will find a wealth of information and tools to help you understand and learn more about addiction. From expert advice to helpful guides, we've got you covered. Take look around and see what resources we have.</p>
        </div>

        <div class="resources-list">

            <div class="resource-item">
                <img src="https://static.wixstatic.com/media/11062b_b9bc6d65be074409bc46034cfeff3ec2~mv2.jpg/v1/fill/w_230,h_170,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Books.jpg"/>
                <h3>Books</h3>
                <p>Explore our extensive collection of books covering various topics from business to wellness. Start discovering amazing insights and inspiration today!</p>
                <a href="#">Explore</a>
            </div>
            <div class="resource-item">
                <img src="https://static.wixstatic.com/media/11062b_e08d4f3a09894187b48d9203232e7cc3~mv2.jpg/v1/crop/x_103,y_0,w_1915,h_1414/fill/w_230,h_170,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Light%20and%20Shadow%20Portrait.jpg"/>
                <h3>Websites</h3>
                <p>Description of resource 2. This is a brief description to give an idea of what this resource offers.</p>
                <a href="#">Explore</a>
            </div>
            <div class="resource-item">
                <img src="https://static.wixstatic.com/media/11062b_e7dd0bafe385414686024e4cbe20687e~mv2.jpg/v1/fill/w_230,h_170,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Support%20Group%20Session.jpg"/>
                <h3>Self help groups</h3>
                <p>Join our self groups and connect with like-minded individuals who share your interests and. Our community is a supportive and welcoming space where you can learn, grow, and make meaningful connections. Don't miss out on the opportunity to be a part of special.</p>
                <a href="#">Join</a>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Rehab. All rights reserved.</p>
    </footer>
</body>
</html>
