<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    {% if session['password'] == 'admin'%}
    <header>
        <nav>
            <div class="logo">Rehab</div>
            <ul class="nav-links">
                <li><a href="/dashboard/{{id}}">Dashboard</a></li>
                <li><a href="/patients/{{id}}">Patients</a></li>
                <li><a href="/staff/{{id}}">Staff</a></li>
                <li><a href="/resources/{{id}}">Resources</a></li>
                <li><a href="/reports/{{id}}">Reports & Analytics</a></li>
                <li><a href="/notifications/{{id}}">Notification & Alerts</a></li>
                <li><a href="/admin/{{id}}">Administrative tools</a></li>
                <li><a href="/profile/{{id}}">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <h2>Administrative Tools</h2>
      <div class="admin-container">
        <section class="admin-section">
          <h3>User & Role Management</h3>
          <ul>
            <li><button>Manage Users</button></li>
            <li><button>Manage Roles</button></li>
          </ul>
        </section>
        <section class="admin-section">
          <h3>System Settings & Configurations</h3>
          <ul>
            <li><button>General Settings</button></li>
            <li><button>Security Settings</button></li>
            <li><button>Integrations</button></li>
          </ul>
        </section>
        <section class="admin-section">
          <h3>Backup & Recovery</h3>
          <ul>
            <li><button>Initiate Backup</button></li>
            <li><button>Restore Backup</button></li>
            <li><button>Schedule Backups</button></li>
          </ul>
        </section>
        <section class="admin-section">
          <h3>Audit Logs</h3>
          <ul>
            <li><button>User Activity Logs</button></li>
            <li><button>System Event Logs</button></li>
            <li><button>Filter & Download Logs</button></li>
          </ul>
        </section>
        </div>
    </main>

    {% elif session['password'] == 'therapist'%}
    <header>
        <nav>
            <div class="logo">Rehab</div>
            <ul class="nav-links">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/about">Patients</a></li>
                <li><a href="/services">Therapists</a></li>
                <li><a href="/resources">Appointments</a></li>
                <li><a href="/contact">Reports</a></li>
                <li><a href="/login">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        this is the therapist dashboard
    </main>

    {% else %}
    <header>
        <nav>
            <div class="logo">Rehab</div>
            <ul class="nav-links">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/about">Patients</a></li>
                <li><a href="/services">Therapists</a></li>
                <li><a href="/resources">Appointments</a></li>
                <li><a href="/contact">Reports</a></li>
                <li><a href="/login">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        this is the staff dashboard
    </main>

    {% endif %}

</body>
</html>
