@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: #f7f7f7;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #006400;
}

.nav-links {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #006400;
}


/* Admins dashboard */
.first-deck {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first-deck .card{
    width: 350px;
    margin: 30px 20px;
    border-radius: 5px;
    padding: 10px;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-family: "Montserrat", sans-serif;
    background: #fff;
}

.first-deck h1{
    font-size: 1.8rem;
    color: green;
}

.first-deck p{
    font-size: 0.8rem;
}

.second-deck {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second-deck .card {
    width: 450px;
    margin: 30px 20px;
    border-radius: 15px;
    padding: 10px;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 5px;
}

.appointments {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    height: 70vh;
    width: 45%;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 7%;
}

.appointments p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.appointments ul li{
    height: 70px;
    font-size: 12px;
    list-style: none;
    margin-left: -30px;
}

.occupancy {
    position: absolute;
    top: 40%;
    left: 55%;
}

.rate {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    text-align: center;
}

.finance {
    height: 270px;
    width: 450px;
    margin: 30px 20px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 5px;
}

.rate h1 {
    color: green;
}

.finance ul li {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    margin-left: -30px;
    padding: 3px;
}

.finance ul li strong {
    font-family: "Montserrat", sans-serif;
    color: #012504;
}

/* Therapists dashboard */

h4 {
    color: green;
    border-bottom: 1px solid green;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
}

.therapist-dashboard {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
}

/* Sections */
.therapist-dashboard section {
  width: 28%;
}

.schedule-appointments, .patient-progress, .tasks-todo {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    height: 70vh;
    border-radius: 5px;
    margin: 20px;
}

/* Schedule Appointments Section */
.schedule-appointments {
  margin-bottom: 20px;
}

.appointment-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;

}

.appointment-table th,
.appointment-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.appointment-table th {
  background-color: #61AB67;
}

.appointment-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-appointments a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: green;
  font-size: 0.8rem;
}

.schedule-appointments a:hover {
  text-decoration: underline;
}

/* Patient Progress Section */
.patient-progress {
  margin-bottom: 20px;
}

.patient-list {
  list-style: none;
  padding: 0;
}

.patient-list li {
  margin: 10px 0;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.patient-list a {
  text-decoration: none;
  color: #001F03;
  font-size: 0.85rem;
}

.link {
  text-decoration: none;
  color: #008E0E;
  font-size: 0.8rem;
}

.link: hover {
  text-decoration: underline;
}

.patient-list a:hover {
  text-decoration: underline;
  color: #00690B;
}

/* Tasks To-Do Section */
.tasks-todo {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.tasks-todo h4 {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.task-list input[type="checkbox"] {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

.task-list .add-task {
  display: flex;
  align-items: center;
}

.task-list .add-task input[type="text"] {
  flex: 1;
  padding: 5px;
  margin-right: 5px;
}

.task-list .add-task button {
  background-color: #03570B;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-list .add-task button:hover {
  background-color: green;
}

.task {
    margin-right: auto;
}

.edit-task-btn {
    width: 60%;
    margin-right: auto;
    padding: 10px;
}

.edit-btn, .delete-btn {
  text-decoration: none;
  color: green;
  font-size: 0.85rem;
  cursor: pointer
}

.edit-btn:hover, .delete-btn:hover {
  text-decoration: underline;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 50%;
  overflow: auto;
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.modal-content {
    margin-bottom: 15px;
    text-align: left;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;

}

.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #006400;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #004d00;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

